.app.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #d5d5d5;
    --primary-color: #009b00;
    --secondary-color: #75c575;
    --inverted-primary-color: #011244;
    --inverted-secondary-color: #0058b0;
}